 body{
    background-image: url('https://i.pinimg.com/originals/8e/46/15/8e46150f790fbefe438d9c2767c32ad1.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
} 
#box{
    text-align: center;
    margin-top: 100px;
}
#box2{
    text-align: center;
}
img{
    height: 300px;
    width: 500px;
}
input{
    height: 30px;
    width: 500px;
    border-radius: 20px;
}
#results{
    border-top: none;
    width: 500px;
    height: 500px;
    margin: auto;
    
}
p{
    color: white;
}
